/**
 * Custom styles.
 */
.wy-nav-content-wrap {
  background: #fcfcfc;
}
.wy-side-nav-search,
.wy-nav-top {
  background: #1E9AD7;
}
.wy-nav-top i {
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .wy-nav-side.shift {
    width: 70%;
  }
  .wy-nav-content-wrap.shift {
    left: 70%;
  }
  .rst-versions {
    width: 70%;
  }
}
